<p id="notice"><%= notice %></p>

<h1>Listing Bobans</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bobans.each do |boban| %>
      <tr>
        <td><%= boban.title %></td>
        <td><%= boban.content %></td>
        <td><%= link_to 'Show', boban %></td>
        <td><%= link_to 'Edit', edit_boban_path(boban) %></td>
        <td><%= link_to 'Destroy', boban, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boban', new_boban_path %>
