<p id="notice"><%= notice %></p>

<h1>Listing Robins</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @robins.each do |robin| %>
      <tr>
        <td><%= robin.title %></td>
        <td><%= robin.content %></td>
        <td><%= link_to 'Show', robin %></td>
        <td><%= link_to 'Edit', edit_robin_path(robin) %></td>
        <td><%= link_to 'Destroy', robin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Robin', new_robin_path %>
